@keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 transparent;
    }
    to {
      box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .descripcinOpcional {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 594.15px;
    height: 30.93px;
  }
  .campo,
  .inputtextFormgroup {
    position: absolute;
    width: 600px;
  }
  .inputtextFormgroup {
    border: 0;
    background-color: transparent;
    top: 31.26px;
    left: 0;
  }
  .campo {
    top: 202.6px;
    left: 35.63px;
    height: 109.26px;
  }
  .nombreDelDocumento {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 593.93px;
    height: 30.93px;
  }
  .inputtext {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 31px;
    left: 0.41px;
  }
  .campo1,
  .registrarbutton {
    position: absolute;
    top: 110.86px;
    left: 35.63px;
    width: 600.41px;
    height: 61px;
  }
  .registrarbutton {
    top: 44.83px;
    left: 0;
    width: 594px;
    height: 154.67px;
    opacity: 1;
  }
  .registrarbutton.animate {
    animation: 1s ease-in 2s infinite normal backwards shadow-inset-center;
  }
  .subirbutton {
    position: absolute;
    top: 220.91px;
    left: 213.37px;
  }
  .arrastraTusArchivos,
  .documento {
    position: absolute;
    display: flex;
    align-items: center;
    height: 43.71px;
  }
  .documento {
    top: 0;
    left: 0;
    width: 331.03px;
  }
  .arrastraTusArchivos {
    top: 131.13px;
    left: 191.13px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    width: 238.53px;
  }
  .documentupdate {
    position: absolute;
    top: 323.86px;
    left: 35.63px;
    width: 594px;
    height: 261.35px;
    opacity: 0;
  }
  .documentupdate.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
  }
  .ingresaLaInformacion {
    position: absolute;
    top: 23.79px;
    left: 0;
    font-size: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 653.41px;
    height: 57.09px;
  }
  .cerrarbuttonIcon,
  .fileIcon {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
  }
  .cerrarbuttonIcon {
    height: 2.7%;
    width: 2.33%;
    top: 1.14%;
    right: 0.98%;
    bottom: 96.16%;
    left: 96.68%;
    max-width: 100%;
    max-height: 100%;
  }
  .fileIcon {
    top: 393.45px;
    left: 306.88px;
    width: 57.09px;
    height: 57.09px;
  }
  .popUp {
    position: absolute;
    top: 7.14px;
    left: 25.38px;
    width: 677.88px;
    height: 585.21px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-raleway);
  }
  .popupSubirdocs {
    position: relative;
    background-color: var(--white);
    width: 712px;
    height: 609px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    background-color: aliceblue;
  }