/* Make sure following styles are not overriden by Material UI */
.button {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
    border: 1px solid #000;
}