.container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.header {
  font-family: 'Raleway';
  margin-bottom: 50px;
}