.reqCardsContainer {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 40px;
  flex-wrap: wrap;
}

.actionCardsContainer {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

/* @media (max-width: 700px) {
  .reqCardsContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
} */
