.mainContainer {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
}

.pageTitle {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 2vw;
}

.tableTitle{
    font-size: 30px;
    font-weight: bold;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.inputFieldLeft {
    margin-right: 18vw;
    padding-right: 10px ;
}

.inputField {
    margin-right: 18vw;
}

.longInputField {
    width: 100%;
    margin-right: 300px;
}

.boldText {
    font-weight: bold;
    margin-bottom: 1vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

.button {
    margin-right: 30px;
}

.inputContainer {
    padding-bottom: 1vw;
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
    .mainContainer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .inputField,
    .inputFieldLeft,
    .longInputField {
        margin-right: 0;
    }
}
