.iniciarSesion,
.swivel {
  position: relative;
}

.swivel {
  display: inline-block;
  text-align: left;
  width: 233px;
  -webkit-text-stroke: 1.5px #fff;
}

.iniciarSesion {
  align-self: stretch;
  font-family: var(--font-raleway);
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  text-align: center;
  padding: 20px 0px 10px;
}

.campoForm {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  text-align: left;
}

.etiquetaTexto {
  padding: 2px, 0, 1px ;
}

.botonIngreso {
  align-self: stretch;
  background-color: var(--contraste);
  border-color: var(--contraste);
}

.botonGoogle {
  align-self: stretch;
  background-color: lightgray;
  color: gray;
  border-color: lightgray;
  text-align: center;
}

.logoIcono {
  position: relative;
  border-radius: var(--br-12xs);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  padding-left: 5px;
}

.signinCon {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-gray-300);
  text-align: left;
}

.signinConGoogle {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  box-shadow: 0 0 1px #000, 0 1px 1px rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-3xs) var(--padding-12xs)
    var(--padding-12xs);
  align-items: center;
  justify-content: space-between;
}

.registrateAqui {
  text-decoration: underline;
  color: #000;
}

.noTienesCuenta {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-lato);
  color: black;
  text-align: center;
}
