.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    padding-top: 10px;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#auth_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_a {
    border-radius: 30px;
}