#background{
    height: 100%;
    width: 100%;
    background: #333333;
    opacity: 0.2;
}

#closeBtn{
    background: none;
    border: none;
    color: white;
    width: 100%;
    align-items: right;
    padding: 1vw 1vw 0 0;
}

#popupBody{
    height: auto;
    width: 50.5vw;
    padding-bottom: 0.2vw;
    background-color: #333333;
    border-radius: 5px;
}

#title{
    width: 100%;
    padding-bottom: 2vw;
    text-align: center;
    font-family: Lato, Helvetica, sans-serif;
    color: white;
}

#content{
    height: auto;
    width: 99%;
    margin: auto;
    background-color: white;
}