.searchbar_container {
  background-image: url('/searchbar_background_image.svg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 1.4rem;
}

.searchbar_container.transparent {
  background-image: none;
}

.searchbar_field {
  border-radius: 20px;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.5rem 0.2rem 1.2rem;
  border-radius: 20px;
  background-color: #FFF;
}

.searchbar_field input {
  flex-grow: 1;
  border: none;
  text-overflow: ellipsis;
  outline: none;
}

.searchbar_icon {
  border: none;
  background-color: #fff;
}