
.wrapper {
  display: flex;
}

.searchbar_container {
  background-image: url('/searchbar_background_image.svg');
  width: 100%;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
}


.searchbar_box {
  padding: 0.6rem  1.4rem;
  display: flex;
  align-items: center; /* center the search icon vertically */
}

.searchbar {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0.4rem 3.5rem 0.2rem 1.2rem;
  flex: 1;
  text-overflow: ellipsis;
}

.searchbar_icon {
  position: absolute;
  right: 2.5rem; /* move the icon to the right of the search bar */
}

.searchbar_left_item {
  margin-right: 1rem; /* add margin to the right of the left item */
}

.searchbar_right_item {
  margin-left: 1rem; /* add margin to the left of the right item */
}