.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 8vw;
  padding-right: 8vw;
  gap: 18vh;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section img {
  width: 35vw;
  border-radius: 3%;
}

.content1 h1, .content2 h1 {
  font-family: 'Raleway';
  margin-bottom: 4vh;
}

.content1 span, .content2 span {
  font-family: 'Lato';
  font-size: 1.5vw;
}

.content1 {
  padding-left: 5vw;

}

.content2 {
  padding-right: 5vw;
}

.buttomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraphs{
  color: rgb(95, 95, 95);
}
