.request {
  font-family: 'Raleway';
  padding-top: 4vh;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-bottom: 6vh;
}

.input {
  width: 100%;
  padding: 1vw;
  padding-bottom: 5vh;
}

.form {
  display: flex;
  gap: 1vw;
  flex-direction: column;
  width: 100%;
}

.form_row {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  width: 100%;
}

.imageDiv {
  width: 60%;
  border-radius: 10px;
}

.schedule, .confirmation {
  padding: 8vw;
}

.carView, .testInfo {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 3vw;
  margin-top: -8vh;
}

.carInfo {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px solid #979797;
}

.carName {
  text-align: center;
  padding-top: 3vh;
}

.year {
  font-family: 'Lato';
  font-size: 1.5vw;
  font-weight: bold;
  color: #979797;
  margin: 0;
  padding: 0;
  text-align: center;
}

.address {
  padding: 1vw;
  color: #979797;
  margin-bottom: 2px solid #979797;
  text-align: center;
}

.priceTag {
  /* Align at bottom */
  margin-top: auto;
  margin-bottom: 0;
  padding-bottom: 2vh;
  text-align: center;
  font-family: 'Lato';
}

.testInfo {
  padding-top: 20vh;
}

.datePicker{
  background-color: aqua;
}

.navButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-Top: 3vw;
}

.containerNavButtons{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmationRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 3vw;
  margin-top: -8vh;
}

.dataCol {
  display: flex;
  flex-direction: column;
}

.confLine {
  color: "#F55C7A"
}