/* testimonials.module.css */
.testimonials_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: 'Raleway';
  margin-top: 10vh;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}